<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
          integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Gym Subscribes</title>
</head>
<body>
<nav>
    <ul>
        <li><a href="/api/v1/subscribes/index">ДОМОЙ</a></li>
        <!-- Замените "/" на путь к вашей главной странице -->
        <li><a href="/api/v1/subscribes/allsubcribes">Подписки</a></li>
        <!-- Пример ссылки на другую страницу вашего сайта -->
        <li><a href="/api/v1/subscribes/allclients">Клиенты</a></li>
    </ul>
</nav>
<style>
    body {
        text-align: center; /* Центрирование содержимого страницы */
        font-family: Arial, sans-serif; /* Устанавливаем шрифт */
    }
    .title {
        margin-top: 50px; /* Отступ сверху */
        font-size: 24px; /* Размер шрифта */
        font-weight: bold; /* Жирный шрифт */
    }
</style>

<h1 class="title"><b>Gym Subscribes</b></h1>
<style>
footer {
position: fixed;
bottom: 0;
width: 100%;
background-color: #f2f2f2;
padding: 10px 0;
text-align: center;
}
</style>
<footer>
    <p>&copy; 2024 Viktor Zakharov</p>
</footer>
</body>

